#header-mobile{
    display: flex;
    width: 100vw;
    justify-content: space-evenly;
    bottom: 0;
    position: fixed;
    padding: 1.2rem;
    background-color: var(--color-dark-gray);
    z-index: 1;
}
#header-mobile a{
    color: white;
    font-family: Poppins;
    font-size: 1.2rem;
    text-decoration: none;
}

.icon-area{
   text-align: center;
}
#icon-menu{
    height: 2.3rem;
}