#intuito{
    padding: 2rem;
}
#intuito p{
    color: var(--color-white);
    font-size: 1.8rem;
    font-family: Poppins;
    text-align: center;
}
#intuito p strong{
    color: var(--color-light-blue)
}