#podcast-mini{
    padding: 2rem;
    margin-top: -6rem;
}
.podcast-area{
    background-color: var(--color-gray);
    padding: 2rem;
    border-radius: 1rem;
    margin-bottom: 2rem;
}
.podcast-area h1{
    color: var(--color-white);
    margin-left: 2rem;
    margin-top: -.4rem;
    font-family: poppins;
    font-size: 2rem;
}
.podcast-area p{
    color: var(--color-white);
    margin-left: 2rem;
    margin-top: .6rem;
    font-family: poppins;
    font-size: 1.6rem;
    text-decoration: none;
}
figure{
    display: flex;
    align-items: center;
}
.podcast-area img{
    height: 8rem;
    width: 8rem;
    object-fit: cover;
    border-radius: 1rem;
}